{% extends "main.html"%}
{% block body_block %}
<style>
    .form{
        margin-left: 20px;
    }
</style>
<div class="form">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            {{form.name.label_tag}}{{form.name}}
        </div>
        <div class="mb-3">
            {{form.category.label_tag}}{{form.category}}
        </div>
        <div class="mb-3">
            {{form.cost.label_tag}}{{form.cost}}
        </div>
        <div class="mb-3">
            {{form.images.label_tag}}{{form.images}}
        </div>
        <button type="submit">Submit</button>

    </form>
</div>

{% endblock %}